[core]
	excludesfile = /home/gwatts/.gitignore_global
	# autocrlf = true
	editor = code --wait
	#editor = code-insiders --wait

[init]
	defaultBranch = main

[color]
	ui = true

[commit]
	template = /home/gwatts/.gitmessage.txt

[pull]
	rebase = false

[diff]
	tool = code

[merge]
	tool = code

[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
	#cmd = code-insiders --wait --diff $LOCAL $REMOTE
	path =

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "code"]
	cmd = code --wait $MERGED
	#cmd = code-insiders --wait $MERGED
	trustExitCode = true

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

; Includes for Linux
;[includeIf "gitdir:/home/gwatts/Development/AL/AWS/"]
;    path = /home/gwatts/Development/AL/AWS/.gitconfig-aws
[includeIf "gitdir:/home/gwatts/Development/AL/AWS/NetReveal/"]
    path = /home/gwatts/Development/AL/AWS/NetReveal/.gitconfig-aws-nr
[includeIf "gitdir:/home/gwatts/Development/AL/Bitbucket/"]
    path = /home/gwatts/Development/AL/Bitbucket/.gitconfig-bitbucket
[includeIf "gitdir:/home/gwatts/Development/Personal/AzureDevOps/"]
    path = /home/gwatts/Development/Personal/AzureDevOps/.gitconfig-azure
[includeIf "gitdir:/home/gwatts/Development/Personal/GitHub/"]
    path = /home/gwatts/Development/Personal/GitHub/.gitconfig-github
[includeIf "gitdir:/home/gwatts/Development/Personal/GitLab/"]
    path = /home/gwatts/Development/Personal/GitLab/.gitconfig-gitlab

; Includes for Windows
[includeIf "gitdir:C:/Users/gwatts/Development/AL/AWS/"]
		path = C:/Users/gwatts/Development/AL/AWS/.gitconfig-aws
[includeIf "gitdir:C:/Users/gwatts/Development/AL/Bitbucket/"]
		path = C:/Users/gwatts/Development/AL/Bitbucket/.gitconfig-bitbucket
[includeIf "gitdir:C:/Users/gwatts/Development/Personal/AzureDevOps/"]
		path = C:/Users/gwatts/Development/Personal/AzureDevOps/.gitconfig-azure
[includeIf "gitdir:C:/Users/gwatts/Development/Personal/GitHub/"]
		path = C:/Users/gwatts/Development/Personal/GitHub/.gitconfig-github
[includeIf "gitdir:C:/Users/gwatts/Development/Personal/GitLab/"]
		path = C:/Users/gwatts/Development/Personal/GitLab/.gitconfig-gitlab

; Includes for Apple
[includeIf "gitdir:/Users/gwatts/Development/AL/AWS/"]
		path = /Users/gwatts/Development/AL/AWS/.gitconfig-aws
[includeIf "gitdir:/Users/gwatts/Development/AL/Bitbucket/"]
		path = /Users/gwatts/Development/AL/Bitbucket/.gitconfig-bitbucket
[includeIf "gitdir:/Users/gwatts/Development/Personal/AzureDevOps/"]
		path = /Users/gwatts/Development/Personal/AzureDevOps/.gitconfig-azure
[includeIf "gitdir:/Users/gwatts/Development/Personal/GitHub/"]
		path = /Users/gwatts/Development/Personal/GitHub/.gitconfig-github
[includeIf "gitdir:/Users/gwatts/Development/Personal/GitLab/"]
		path = /Users/gwatts/Development/Personal/GitLab/.gitconfig-gitlab
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
