[core]
	excludesfile = /home/gwatts/.gitignore_global
	# autocrlf = true
	editor = code --wait

# Default user details
[user]
	email = watts_graham@hotmail.com
	name = Graham Watts
	signingkey = 30C0CDEB4BF5B08326268A5F957C7A29670B1772

[push]
	autoSetupRemote = true

[helper]
	credential = store

# Use GitHub CLI for authentication
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

# Use GitHub CLI for authentication with Gists
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential

[init]
	defaultBranch = main

[color]
	ui = true

[commit]
	template = /home/gwatts/.gitmessage.txt

[pull]
	rebase = false

[diff]
	tool = code

[merge]
	tool = code

[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
	path =

[mergetool "code"]
	cmd = code --wait $MERGED
	trustExitCode = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

# Includes for personal Linux systems
[includeIf "gitdir:/home/gwatts/Development/Personal/AzureDevOps/"]
    path = /home/gwatts/Development/Personal/AzureDevOps/.gitconfig-azure
[includeIf "gitdir:/home/gwatts/Development/Personal/Bitbucket/"]
    path = /home/gwatts/Development/Personal/Bitbucket/.gitconfig-bitbucket
[includeIf "gitdir:/home/gwatts/Development/Personal/GitHub/"]
    path = /home/gwatts/Development/Personal/GitHub/.gitconfig-github
[includeIf "gitdir:/home/gwatts/Development/Personal/GitLab/"]
    path = /home/gwatts/Development/Personal/GitLab/.gitconfig-gitlab

; Includes for personal Windows systems
[includeIf "gitdir:C:/Users/watts/Development/AL/AWS/"]
		path = C:/Users/watts/Development/AL/AWS/.gitconfig-aws
[includeIf "gitdir:C:/Users/watts/Development/AL/Bitbucket/"]
		path = C:/Users/watts/Development/AL/Bitbucket/.gitconfig-bitbucket
[includeIf "gitdir:C:/Users/watts/Development/Personal/AzureDevOps/"]
		path = C:/Users/watts/Development/Personal/AzureDevOps/.gitconfig-azure
[includeIf "gitdir:C:/Users/watts/Development/Personal/GitHub/"]
		path = C:/Users/watts/Development/Personal/GitHub/.gitconfig-github
[includeIf "gitdir:C:/Users/watts/Development/Personal/GitLab/"]
		path = C:/Users/watts/Development/Personal/GitLab/.gitconfig-gitlab
