# custom files
custom/

# temp files directories
cache/
log/
*.swp
.DS_Store

# Ignore vscode settings
.vscode/

# Ignore dockerfile(s) in the testing directory
testing/**/*.Dockerfile
testing/**/dockerfile
**/dockerfile
