[core]
	excludesfile = /home/gwatts/.gitignore_global
	# autocrlf = true
	editor = code --wait
	#editor = code-insiders --wait

[init]
	defaultBranch = main

[color]
	ui = true

[commit]
	template = /home/gwatts/.gitmessage.txt

[pull]
	rebase = false

[diff]
	tool = code

[merge]
	tool = code

[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
	#cmd = code-insiders --wait --diff $LOCAL $REMOTE
	path =

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "code"]
	cmd = code --wait $MERGED
	#cmd = code-insiders --wait $MERGED
	trustExitCode = true

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[includeIf "gitdir:/home/gwatts/Development/Vocera/AWS/"]
    path = /home/gwatts/Development/Vocera/AWS/.gitconfig-aws
[includeIf "gitdir:/home/gwatts/Development/Personal/AzureDevOps/"]
    path = /home/gwatts/Development/Personal/AzureDevOps/.gitconfig-azure
[includeIf "gitdir:/home/gwatts/Development/Vocera/Bitbucket/"]
    path = /home/gwatts/Development/Vocera/Bitbucket/.gitconfig-bitbucket
[includeIf "gitdir:/home/gwatts/Development/Personal/GitHub/"]
    path = /home/gwatts/Development/Personal/GitHub/.gitconfig-github
[includeIf "gitdir:/home/gwatts/Development/Personal/GitLab/"]
    path = /home/gwatts/Development/Personal/GitLab/.gitconfig-gitlab
